.App {
  display:flex;
}

.gamePage {
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}
tr { 
  border: solid;
  border-width: 1px 0;
}
tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

td {
  width: 100px;
  height: 100px;
  border: solid;
  border-width: 0 1px;
  text-align: center;
  justify-content: center;
}

td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}

.active {
  color: green;
  opacity: 1;
}

h3 {
  opacity: 0;
}

.draw {
    color: red;
}

h1 {
  text-align: center;
}

td:hover{
    background-color: lightgrey;
}


.space {
  text-align: center;
  font-size: 100px;
  opacity: 0;
  /* color: transparent; */
}

.space:hover{
  cursor:pointer;
  /* background-color: grey; */
}

.click {
  opacity: 1;
}

.click:active { 
  background:red;
}

.winner {
  background: lightskyblue;
}

.inactive:hover{
  background:none;
}
.winner:hover{
  background:lightskyblue;
}

.buttonRow{
  margin: 20px;
  display:flex;
  justify-content: space-evenly;
}

button{
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #fff;
  background-color: #36b;
  padding: 0.75em 1.5em;
}

.turnContainer{
  display:flex;
  justify-content: center;
}

.scoreBoard{
  display:flex;
  justify-content: space-around;
}

#x{
  color:red;
}

#o{
  color:blue;
}
