.App {
  display:flex;
}

.board {
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}
tr { 
  border: solid;
  border-width: 1px 0;
}
tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

td {
  width: 100px;
  height: 100px;
  border: solid;
  border-width: 0 1px;
  text-align: center;
  justify-content: center;
}

td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}

.active {
  color: green;
  opacity: 1;
}

h3 {
  opacity: 0;
}

.draw {
    color: red;
}

h1 {
  text-align: center;
}

.space {
  text-align: center;
  font-size: 100px;
  opacity: 0;
}

.space:hover{
  cursor:pointer;
}

.click {
  opacity: 1;
}